.neko-display-container {
    height: 100%;
    .neko-display-loading {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    .neko-display-image {
        width: 100%;
        max-width: 100%;
    }
}